body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 305px;
    min-height: 50px;
}

a {
    color: whitesmoke;
    font-weight: bold;
    width: 50px;
    margin: 4px;
    text-decoration: none;
    position: relative;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;

}
#czc-btn {
    background: red;
    color: white;
    text-align: center;
    padding: 2rem 3rem;
    border-radius: 1.25rem;
    border-left: 5rem;
}

#alza-btn {
    background: darkblue;
    color: white;
    padding: 2rem 3rem;
    border-radius: 1.25rem;
    border-left: 5rem;
    text-align: center;
}

#heureka-btn {
    background: darkorange;
    color: white;
    text-align: center;
    border-radius: 1.25rem;
    padding: 2rem 3rem;
    border-left: 5rem;

}
